certifi==2018.10.15
chardet==3.0.4
idna==2.7
mysql-connector-python==8.0.13
numpy==1.15.3
protobuf==3.6.1
python-dateutil==2.7.3
python-slugify==1.2.6
pytz==2018.6
requests==2.20.0
six==1.11.0
termcolor==1.1.0
Unidecode==1.0.22
urllib3==1.24
hWfY7Uv82k7L9f2Sr._.